.image {
  display: flex;
  justify-content: center;
  margin-top: 24vh;
}

.topleft {
  display: flex;
  position: flex-start;
  margin-top: 17px;
}


.topright {
  display: flex;
  float: right;
  margin-top: -26px;

}

.signinbutton button {
  background-color: #4285f4;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  outline-color: transparent;
  margin-right: 25px;
  cursor: pointer;
}

.icon a {
  color: #737373;
}

.icon {
  padding-right: 15px;
  margin-top: 8px;
  font-size: 20px;
}

.linksleft {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
  opacity: .75;
}

.linksright {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  padding: 10px
}

.searchbar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.searchbar input {
  width: 25vw;
  height: 4vh;
}

.searchbar:hover input {
  cursor: text;
}

.searchbuttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.Google {
  display: flex;
  margin-right: 10px;
}

.Google button {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 200px;
}

.Lucky {
  display: flex;
  margin-left: 10px;
}

.Lucky button {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 200px;
}

.bottomwrapper a {
  color: #666;
  font-size: 10pt;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

 footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: right;
  width: 100%;
  padding-bottom: 10px;
  background-color: #f2f2f2;
 }

 footer a {
   font-family: arial,sans-serif;
 }

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bottomleft {
  display: flex;
  float: left;
  padding-left: 20px;
}

.bottomright {
  display: flex;
  float: right;
  padding-right: 20px;
}
