html {
  background-color: black;
}

.image img {
  background-color: white;
  margin-top: 18px;
  margin-left: 5px;
  width: 8.5%;
  height: 11%;
}

.signinbutton button {
  background-color: #4285f4;
  font-weight: 800;
  height: 30px;
  width: 77px;
  color: white;
  padding: 5px 15px 5px 15px;
  border: 1px solid #4285f4;
  border-radius: 3px;
  outline: none;
  margin-top: 5px;
  margin-right: 25px;
  cursor: default;
}

.signinbutton button:hover {
  border: 1px solid #f4f4f4;
}
.icon a {
  color: white;
}

.topright {
  display: flex;
  float: right;
  margin-top: -43px;
}

.icon {
  padding-right: 15px;
  padding-left: 5px;
  margin-top: 8px;
  font-size: 20px;
}

.icon a:hover{
  color: grey;
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  margin-top: -35px;
  margin-left: 139px;
}

.searchbar input {
  border: 1px solid #f2f2f2;
  width: 38vw;
  height: 5.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.searchbar input:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.searchbar input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.searchbar:hover input {
  cursor: text;
}
